@import './../../../config';

$menu-width: 50px;
$menu-width-open: 200px;

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: $menu-width;
  transition: width .2s ease-in-out;
  background-color: $turf-light;

  &.open {
    width: $menu-width-open;
  }
}