$white: #FFF;
$black: #000;
$dark-gray: #212121;
$light-gray: #757575;
$turf-light: #278e2c;
$turf-dark: #247423;
$accent: #53C1DE;

$font-face-body: 'Roboto', sans-serif !default;
$font-large: 18px;

$spacing-default: 16px;
$spacing-tight: 8px;